
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mainColor);
    padding-top:10px !important;
    padding-bottom: 10px !important;
    position: fixed;
    z-index: 5;
    width: 100%;
}
.links{
    transition: 0.5s ease-in-out;
}
header a {
    transition: 0.5s ease-in;
    color: var(--white);
}
.logo-wrap{
    /* width: 70px; */
    /* overflow: hidden; */
    color: white;
    font-weight: 600;
    font-size: 60px !important;
    /* border: 1px solid red; */
    height: 40px;
}

nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-btn{
    padding: 10px 45px;
    border-radius: 10px;
    border: none;
    color: var(--white);
    cursor: pointer;
    width: 148px;
}

.btn-login{
    background-color: transparent;
    border: 2px solid var(--white);
}

.btn-register{
    background-color: var(--white);
    color: var(--mainColorLight);
    
}

.btn-login:hover{
    background-color: var(--white);
    color: var(--mainColorLight);
}

.btn-register:hover{
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
}

header .links a:hover{

 border-bottom: 1px solid var(--white);
}

.ham-wrap{
    display: none;
    visibility: hidden;
}
.btn-close-wrap{
    display: none;
    visibility: hidden;
}
/* responsive  */
@media only screen and (max-width :1200px) {

    
   .ham-wrap{
    display: block;
    visibility: visible;
   }
   header {
    position: relative;
   }

   nav{
   width: 30%;
    padding: 19px 4.5%;
    transition: 0.2s ease-in;

    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: var(--mainColor);
    top: 0;
    right: -100%;
    gap: 15px;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }

   .btn-close-wrap {
    /* padding: 10px 35px 0 0; */
    margin-bottom: 35px;
    width: 100%;
    visibility: visible;
   
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;




}

.css-btn-close {

    width: 26px;
}
.show {
    right: 0px;

}

}

@media only screen and (max-width :600px) {

    nav{
        width: 50%;
    }

}

