<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     <!-- fontawesome  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="/style/login.css">
     <link rel="stylesheet" href="/style/register/register.css">
     <link rel="stylesheet" href="/style/global.css">
     <style>
        .form-field-wrap input {
    padding: 9px 10px !important;
    width: 100% !important;
    background-color:
    #ECECEC;
}
.form-field-wrap select {
    padding: 9px 10px !important;
    width: 100% !important;
    background-color:
    #ECECEC;
}
     </style>
</head>
<body>
    <div class="login-wrap">
        <h1 class="section-title">
            Add <span class="color-main ">Blood Bank</span>
        </h1>
        <div class="form-card">
            <form action="/bloodBank" method="post">
                <div class="form-row">
                    <div class="form-field-wrap" ><input type="text" required placeholder="Hospital Name" class="" name="name" ></div>
                </div>
                
                <div class="form-row">
                    <div class="form-field-wrap">
                        <label for="province">Select Province</label>
                        <select name="province" id="province" required onchange="updateDistricts()">
                  <option value=""></option>

                           <% provinces.forEach((province)=> { %>
                            <option value="<%=province.name%>"><%=province.name%></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-field-wrap" style="margin-left: 10px;">
                        <label for="bloodGroup">Select BloodGroup</label>
                        <select name="bloodGroup" id="bloodGroup" required >
                  <option value=""></option>

                           <% bloodGroups.forEach((bloodGroup)=> { %>
                            <option value="<%=bloodGroup.name%>"><%=bloodGroup.name%></option>
                            <% }) %>
                        </select>
                    </div>
                    
                </div>
                <div class="form-row">
                    <div class="form-field-wrap"><input type="text" required placeholder="Phone" class="" name="phone"></div>
                    <div class="form-field-wrap" style="margin-left: 10px;"><input type="number" required placeholder="Amount" class="" name="amount"></div>
                    
                </div>
                <div class="form-row">
                    <div class="form-field-wrap">
                        <label for="district">Select District</label>
                        
                        <select name="district" id="district" required  onchange="updateLocalLevel()">
                            <option value=""></option>
                              
                            </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-field-wrap">
                        <label for="localLevel">Select localLevel</label>

                        <select name="localLevel" id="localLevel" required>
                            <option value=""></option>
                         
                        </select>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-field-wrap"><input type="email" required placeholder="email" class="" name="email"></div>
                </div>
                <div class="form-row">
                    <div class="form-field-wrap">
                        <button type="submit" class="btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function updateDistricts() {
   

          let name = $('#province').val();
          if(name){
            $.get('/districtsByName', {name: name}, (data) => {
              let options = '';
              data.forEach((district) => {
                options += `<option value="${district.name}">${district.name}</option>`;
              });
              $('#district').html(options);
            });
          }else{
            $('#district').html('');
          }
        }
        function updateLocalLevel() {
    let name = $('#district').val();
    if(name){
      $.get('/localLevelByName', {name: name}, (data) => {
        let options = '';
        options += `<option value=""></option>`;
        data.forEach((localLevel) => {

          options += `<option value="${localLevel.name}">${localLevel.name}</option>`;
        });
        $('#localLevel').html(options);
      });
    }else{
      $('#localLevel').html('');
    }
  }
      </script>
</html>